body {
    --main-text-color: #222;
    --main-background-color: #eee;
    --faded-text-color: #666;
    --error-text-color: #d55;
    --link-text-color: #27e;
    --text-container-padding: 0.4rem 0.8rem;

    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: sans-serif;
    display: grid;
    grid-template: auto 1fr / auto 1fr auto;
    height: 100vh;
    margin: 0;
}
@media (prefers-color-scheme: dark) {
    body {
        --main-text-color: #eee;
        --main-background-color: #222;
        --faded-text-color: #666;
        --error-text-color: #e77;
        --link-text-color: #4ae;
    }
}
header {
    grid-column: 1 / 4;
    border-bottom: 1px solid;
    padding: var(--text-container-padding);
}
nav {
    grid-column: 1 / 2;
    border-right: 1px solid;
    padding: var(--text-container-padding);
}
main {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-size: 1.2em;
    margin: 0;
}
input[type=text], input[type=password] {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    border: 1px solid var(--faded-text-color);
    box-shadow: 0 0 4px var(--faded-text-color) inset;
    padding: var(--text-container-padding);
    transition: border-color 0.3s, box-shadow 0.3s;
}
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid var(--main-text-color);
    box-shadow: 0 0 4px var(--main-text-color) inset;
    outline: none;
}
a {
    color: var(--link-text-color);
}
.error {
    color: var(--error-text-color);
}
.spaced-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chat-form {
    display: flex;
    flex-direction: column;

    input[type=text] {
        min-height: 2em;
    }
}

#messages-empty {
    align-self: center;
    padding: 0.8rem;
    color: var(--faded-text-color);
}
#messages-list .message {

}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;

    > main {
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}